<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/vechicaldb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">2go14cs001</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">20</property>

        
        <!-- SQL Dialect - to tell hibernate what kind of dialect the DB is using -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
         <!-- Disable the second level cache -->
         <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
		
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>
 
    </session-factory>

</hibernate-configuration>